/* Root, Rem and Resets
==============================================================================*/
html {
    font-size: 16px;
    /* sets the rem basis */

    box-sizing: border-box;
    /* sets the box model to include content size, padding and border, but ignores margin. */
}

*,
*:before,
*:after {
    box-sizing: inherit;
    /* apply a natural box layout model to all elements, but allowing components to change */
}

button {
    padding: 0;

    text-decoration: none;

    border: 0;
    outline: none;
    /* reset for user agent's button styling */
}

/* Universal Styling
==============================================================================*/
body {
    display: flex;
    flex-flow: column nowrap;

    margin: 0 auto;
}

body > * {
    font-family: 'Fira Sans', Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.33;

    letter-spacing: normal;
    word-spacing: normal;
}

footer,
header,
main,
section {
    width: 100%;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    font-weight: 700;

    letter-spacing: .015rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;

    letter-spacing: .015rem;
}

h3 {
    font-size: 1.05rem;
    font-weight: 600;

    letter-spacing: normal;
}

h4 {
    font-size: 1rem;
    font-weight: 400;

    letter-spacing: normal;
}

/* COURSES in small caps */
h5 {
    font-size: 1rem;
    font-weight: 400;
    font-variant: small-caps;

    letter-spacing: .030rem;
}

/* quote author in section 2 */
h6 {
    font-size: .75rem;
    font-weight: 400;

    letter-spacing: -.010rem;
}

blockquote {
    text-indent: -.5rem;

    hanging-punctuation: first;
}

section {
    position: relative;

    display: flex;
    align-items: flex-end;

    padding: 2rem 0 2rem 1.5rem;
}

section:nth-child(1) {
    top: 4rem;
}
section:nth-child(3) {
    display: flex;
    align-items: center;

    padding: 2rem 1.5rem;
}

/* Media Object Defined
==============================================================================*/
/* information and thesis */
.mediaobject_perp {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
}

.mediaobject_perp img {
    width: 35%;
    padding: 1rem;
}

.mediacopy_para p {
    margin: .5rem 0;
}

.mediacopy_para {
    margin: 0 1rem 0 0;
}

/* courses */
.mediaobject_para {
    display: flex;
    align-items: stretch;
    flex-flow: column wrap;

    width: 33%;
    padding: 0 1rem 1rem;
}

.mediaobject_para img {
    width: 100%;
}

.mediatext_para {
    margin: 0 1rem 0 0;
}

.mediatext_para p {
    margin: .5rem 0;
}


/* Header and Navigation
==============================================================================*/

header {
    position: fixed;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 4rem;
    padding: 0 1.5rem;

    color: #ddb;
    border-bottom: 1px solid #d8d8d8;
    background-color: #777;
}

.logo_perp {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

.logo_para img {
    height: 2rem;
}

.logotype_perp {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 1.25rem;

    display: flex;
    align-items: baseline;

    letter-spacing: .05rem;
    text-transform: uppercase;

    color: #ddb;
}

.logotype_head {
    font-weight: 600;
}

.logotype_tail {
    font-weight: 200;
}

nav ul {
    display: flex;
    align-items: baseline;
    flex-flow: row wrap;
}

nav img {
    display: none;
}

nav a {
    margin: 0 0 0 1rem;

    color: #ddb;
}

/* Banner - Section 1
==============================================================================*/
.banner_full_perp {
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    justify-content: center;

    width: 100%;
}


.banner_wide_para {
    display: flex;
    align-items: stretch;
    flex-flow: column wrap;

    width: 60%;
    padding: 0 1.5rem 0 0;
}


.banner_wide_para img {
    width: 100%;

    object-fit: contain;
}

.banner_narrow_para {
    display: flex;
    align-self: center;
    flex-flow: column nowrap;

    width: 40%;
    padding: 0 0 0 1rem;
}

.banner_narrow_para h4 {
    margin: 2rem 0;
}

.banner_narrow_para ul {
    margin: 0 2rem 0 0;
}

/* Button */

button {
    font-size: 1rem;
    font-weight: normal;

    width: 100%;
    padding: .5rem 0;

    color: #fff;
    background-color: #4a4a4a;
}

button:hover {
    background-color: #37b7ee;
}

button:active {
    background-color: #f50;
}

/* Information - Section 2
==============================================================================*/
.info_full_perp {
    display: flex;
    flex-flow: row wrap;

    width: 100%;
}

.info_wide_para {
    display: flex;
    align-items: stretch;
    flex-flow: column wrap;

    width: 60%;
    padding: 1rem 1.5rem 0 0;
}

.info_wide_para img {
    width: 100%;

    object-fit: contain;
}

.info_wide_para h2 {
    margin: 2rem 0 1.5rem 0;
}

.info_wide_para h6 {
    margin: 2rem 0 0 0;
}

.info_narrow_para {
    align-items: stretch;
    flex-flow: column wrap;

    width: 40%;
}

/* Courses - Section 3
==============================================================================*/
.courses_full_para {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;

    width: 100%;
}

.courses_full_para h2 {
    margin: 0 0 2rem 0;
}

.courses_perp {
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    justify-content: center;

    width: 100%;
    padding: 0 0 2rem 0;
}


/* Thesis - Section 4
==============================================================================*/
.thesis_full_para {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;

    width: 100%;
}

.thesis_full_para h2 {
    margin: 0 0 2rem 0;
}

.thesis_full_perp {
    display: flex;
    flex-flow: row wrap;

    width: 100%;
}

.thesis_wide_para {
    display: flex;
    align-items: stretch;
    flex-flow: column wrap;

    width: 60%;
    padding: 0 1.5rem 0 0;
}



.videoobject video {
    width: 100%;

    object-fit: cover;
}

.videotext_para h3 {
    margin: 1.5rem 0;
}

.thesis_narrow_para {
    display: flex;
    align-items: stretch;
    flex-flow: column wrap;

    width: 40%;
}




/* Trickstery thing to push Footer to bottom of page
==============================================================================*/

#stickyfooter {
    top: 4rem;

    flex: 1 0 calc(100vh - 5rem);
}

/* Footer: Copyright and Terms
==============================================================================*/

footer {
    position: relative;

    display: flex;
    align-items: baseline;
    justify-content: space-between;

    height: 6rem;
    padding: 1rem 1.5rem 0;

    color: #ddb;
    border-top: 1px solid #d8d8d8;
    background-color: #123;
}

.legalese a {
    margin: 0 0 0 1rem;

    color: #ddb;
}
