html {
    box-sizing: border-box;
    font-size: 16px;
    /* Sets the rem basis */
}

/* apply a natural box layout model to all elements, but allowing components to change */

*, *:before, *:after {
    box-sizing: inherit;
}

/* reset button styling */

button {
    outline: none;
    border: 0;
    padding: 0;
}

/* Universal styling **********************************************************/

body {
    color: #4a4a4a;
    background-color: #fff;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    display: flex;
    flex-direction: column;
}

a {
    color: #4a4a4a;
    text-decoration: none;
}

footer, header {
    padding: 0 1.5rem;
    /* 24px padding on left and right */
}

footer, header {
    margin: 0 auto;
    /* align block to center of container */
}

footer, header {
    width: 100%;
}

section {
    position: sticky;
    top: 64px;
    background-color: purple;
    display: flex;
    flex: 1 1 100%;
    transition: sticky 10 ease-out;
}

h1 {
    flex: 2 2 auto;
    font-size: 2.074rem;
    font-weight: 900;
    line-height: 1.25;
}

h2 {
    font-size: 1.728rem;
    font-weight: 700;
    line-height: 1.35;
}

h3 {
    font-size: 1.44rem;
    font-weight: 700;
    line-height: 1.45;
}

h4 {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.55;
}

/* REFERENCES ********************************************************************************
/* css background-image link to directory: "../images/"
/* dark grey color: #4a4a4a;
/* medium grey color: #9b9b9b;
/* light grey color: #d8d8d8;
*/

.flexrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexrowbaseline {
    display: flex;
    align-items: baseline;
    flex-direction: row;
}

.spacebetween {
    justify-content: space-between;
}

/* Header *********************************************************************/

header {
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    border-bottom: 1px solid #d8d8d8;
    background-color: white;
}

header span {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.15rem;
    letter-spacing: .025rem;
    display: inline-block;
    margin: 0 .5px 0 0;
}

.logo {
    height: 40px;
}

.boldname {
    font-weight: 500;
    color: #4a4a4a;
}

.lightname {
    font-weight: 300;
    color: #9b9b9b;
}

/* Navigation *****************************************************************/

nav {
    display: flex;
    align-items: center;
    padding: 0 0 0 1.5rem;
    white-space: nowrap;
    width: 100%;
}

nav a {
    padding: 0 1rem 0 0;
}

nav a:last-child {
    padding: 0;
}

/* wrapper between header and footer to push footer down */

#wrapper {
    top: 4rem;
    flex: 1 0 calc(100vh - 6rem);
}

/* Main Content ***************************************************************/

main {
    background-color: coral;
    margin: 4rem 0 0 0;
}

/* Banner section *************************************************************/

.banner {
    align-items: center;
    background-color: #d8d8d8;
    display: flex;
    flex: 1 1 100%;
    justify-content: flex-start;
}

.banner img {
    flex: 1 1 60%;
    padding: 2rem 1.5rem;
    object-fit: cover;
    width: 60%;
}

.banner aside {
    padding: 2rem 1.5rem 2rem 1rem;
    width: 423px;
}

.banner article {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
}

.banner h1, h4 {
    margin: 0 0 2rem 0;
}

/*button*/

.banner button {
    background-color: #4a4a4a;
    color: #fff;
    font-size: 1rem;
    padding: 8px 0;
}

.banner button:hover {
    background-color: #37b7ee;
}

.banner button:active {
    background-color: #f50;
}

/* Information ****************************************************************/

.information {
    display: flex;
    flex: 1 1 100%;
}

.infobanner {
    flex: 1 1 60%;
    background-color: #fff;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infobanner img {
    object-fit: cover;
    width: 100%;
}

.infobanner h1 {
    margin: 2rem 0 0 0;
}

.infobanner p {
    margin: 1.5rem 0;
}

.information aside {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-left: 1px solid #9b9b9b;
    width: 423px;
}

.information article {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #9b9b9b;
}

.information article:last-child {
    border: none;
}

.information article:hover {
    background-color: #d8d8d8;
}

.information article img {
    margin: 1rem;
    width: 35%;
}

.information article h3, p {
    margin: 0 0 .5rem 0;
}

.articlecopy {
    display: flex;
    flex-flow: column wrap;
    flex: 1;
    padding: 0 1.5rem 0 0;
}

/* Footer *********************************************************************/

footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 6rem;
    border-top: 1px solid #d8d8d8;
    padding: 1rem 0 0 0;
    transition: sticky 10s ease-out;
}

.footcopy {
    margin: 0 0 0 1.5rem;
}

.footlink a {
    margin: 0 1.5rem 0 0;
}

/* @media *********************************************************************/

@media only screen and (max-width: 1024px) {
}
