/* Root, Rem and Resets ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

html {
    /* sets the box model to include content size, padding and border, but ignores margin. */
    box-sizing: border-box;
    /* sets the rem basis */
    font-size: 16px;
}

*, *:before, *:after {
    /* apply a natural box layout model to all elements, but allowing components to change */
    box-sizing: inherit;
}

button {
    /* reset for user agent's button styling */
    outline: none;
    text-decoration: none;
    border: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    word-spacing: inherit;
    letter-spacing: inherit;
}

/* References ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
  background-image link to directory: "../images/"
  dark grey color: #4a4a4a;
  medium grey color: #9b9b9b;
  light grey color: #d8d8d8;
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

/* Universal Styling
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

body {
    /* color */
    color: #4a4a4a;
    background-color: #fff;
    /* typography */
    letter-spacing: .015625rem;
    word-spacing: .0625rem;
    line-height: 1.425;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1rem;
}

main {
    background-color: coral;
    margin: 4rem 0 0 0;
}

a {
    color: #4a4a4a;
    text-decoration: none;
}

section {
    top: 4rem;
    /*background: linear-gradient(to right, purple 60%, coral 40%);*/
    max-width: 75rem;
}

aside {
    width: 27rem;
}

h1 {
    font-size: 2.074rem;
    font-weight: 700;
    line-height: 1.25;
}

h2 {
    font-size: 1.728rem;
    font-weight: 700;
    line-height: 1.35;
}

h3 {
    font-size: 1.44rem;
    font-weight: 600;
    line-height: 1.45;
}

h4 {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
}

h5 {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.55;
}

h6 {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.6;
}

.sitewrap {
    /* sizing */
    max-width: 75rem;
    width: 100%;
    /* alignment */
    margin: 0 auto;
    background-color: purple;
}

.sidepad {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* Flex Layouts
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

body {
    /* display */
    display: flex;
    flex-direction: column;
}

.flexrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexrowbaseline {
    display: flex;
    align-items: baseline;
    flex-direction: row;
}

/* Header: Logo and Navigation ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

header {
    /* position */
    position: fixed;
    z-index: 100;
    /* display */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    /* size */
    max-width: 75rem;
    width: 100%;
    height: 4rem;
    padding: 0 1.5rem;
    /* style */
    border-bottom: 1px solid #d8d8d8;
    white-space: nowrap;
    background-color: orange;
}

/* Logo */

header span {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    letter-spacing: .03625rem;
    line-height: 1.65;
    display: inline-block;
}

.logo {
    height: 2.5rem;
}

.boldname {
    font-weight: 700;
    color: #4a4a4a;
    margin: 0 -4px 0 0;
}

.lightname {
    font-weight: 400;
    color: #9b9b9b;
}

/* Navigation */

nav a {
    padding: 0 0 0 1rem;
}

/* Section 1: Banner Image and Button ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

.banner {
    align-items: center;
    background-color: #9b9b9b;
    display: flex;
    padding: 2rem 0;
}

/* Banner Image */

.banner img {
    width: 60%;
    margin: 0 1.5rem 0 0;
    padding: 0 0 0 1.5rem;
}

.banner aside {
    width: 40%;
}

.banner article {
    width: 66%;
    margin: 0 0 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 1.5rem 0;
}

.banner h1, h4 {
    margin: 0 0 2rem 0;
}

/* Button */

.banner button {
    background-color: #4a4a4a;
    color: #fff;
    padding: 1rem 0;
}

.banner button:hover {
    background-color: #37b7ee;
}

.banner button:active {
    background-color: #f50;
}

/* Section 2: Information Image and Articles ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

.information {
    display: flex;
}

.infobanner {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 1.5rem 0 0;
    padding: 2rem 0 2rem 1.5rem;
}

.infobanner img {
    width: 100%;
    margin: 0 0 .5rem 0;
}

.infobanner h1, .infobanner h6, .infobanner p {
    margin: 1.5rem 0 0 0;
}

.information aside {
    width: 40%;
    display: flex;
    flex-flow: column wrap;
    border-left: 1px solid #9b9b9b;
    padding: 1rem 0 0 0;
    height: 100%;
}

.information article {
    display: flex;
    align-items: flex-start;
    flex-flow: row nowrap;
    background-color: #fff;
    border-bottom: 1px solid #9b9b9b;
    padding: 0 1.5rem 0 0;
}

.information article:last-child {
    border: none;
}

.information article:hover {
    background-color: #d8d8d8;
}

.information article img {
    margin: 1rem;
    width: 35%;
}

.articlecopy {
    display: flex;
    flex-flow: column wrap;
    margin: 1rem 0 0 0;
    height: 100%;
}

.articlecopy h3, .articlecopy p {
    margin: 0 0 .5rem 0;
}

.articlecopy a {
    color: #37b7ee;
}

/* Section 3: Courses ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

.courses {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background: deepskyblue;
    padding: 0 1.5rem;
}

.courses article {
    max-width: 30%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: baseline;
    background-color: #123;
    margin: 0 2rem 1rem 0;
}

.courses article:nth-child(3n+0) {
    margin: 0 0 1rem 0;
}

.courses article img {
    width: 100%;
}

.courses h3 {
    margin: 1rem 1rem 0;
}

.courses h6 {
    margin: .5rem 1rem 0;
}

.courses p {
    margin: .5rem 1rem 1.5rem;
}

/* Section 4: Thesis Video and Articles ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

.thesis {
    display: flex;
}

.sectionhead {
    display: flex;
    width: 100%;
    max-width: 75rem;
    padding: 1rem 0 2rem 0;
    justify-content: center;
}

.thesisbanner {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 1.5rem 0 0;
    padding: 2rem 0 2rem 1.5rem;
}

.thesisbanner h3, .thesisbanner p {
    margin: 1.5rem 0 0 0;
}

.thesis aside {
    width: 40%;
    display: flex;
    flex-flow: column wrap;
    border-left: 1px solid #9b9b9b;
    padding: 1rem 0 0 0;
    height: 100%;
}

.thesis article {
    display: flex;
    align-items: flex-start;
    flex-flow: row nowrap;
    background-color: #fff;
    border-bottom: 1px solid #9b9b9b;
    padding: 0 1.5rem 0 0;
    height: 10.5rem;
}

.thesis article:last-child {
    border: none;
}

.thesis article:hover {
    background-color: #d8d8d8;
}

.thesis article img {
    margin: 1rem;
    width: 35%;
    height: 8.5rem;
}

.articlecopy {
    display: flex;
    flex-flow: column wrap;
    margin: 1rem 0 0 0;
    height: 100%;
}

.articlecopy h3, .articlecopy p {
    margin: 0 0 .5rem 0;
}

.articlecopy a {
    color: #37b7ee;
}

/* Sticky Footer: pushes footer down to stick to bottom of viewport
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

#stickyfooter {
    top: 4rem;
    flex: 1 0 calc(100vh - 6rem);
}

/* Footer: Copyright and Terms ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 6rem;
    border-top: 1px solid #d8d8d8;
    padding: 1rem 1.5rem 0;
    white-space: nowrap;
    flex-flow: row nowrap;
    width: 100%;
    background-color: #b59;
}

footer a {
    margin: 0 0 0 1rem;
}

/* Media Queries ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

/* large screens over 1200px */

@media only screen and (min-width: 75rem) {
}
