/* Root, Rem and Resets *******************************************************************************/

html {
    /* Sets the box model to include content size, padding and border, but ignores margin. */
    box-sizing: border-box;
    /* Sets the rem basis */
    font-size: 16px;
}

*, *:before, *:after {
    /* apply a natural box layout model to all elements, but allowing components to change */
    box-sizing: inherit;
}

button {
    /* reset for user agent's button styling */
    outline: none;
    text-decoration: none;
    border: 0;
    padding: 0;
}

/* References ********************************************************************************
/* css background-image link to directory: "../images/"
/* dark grey color: #4a4a4a;
/* medium grey color: #9b9b9b;
/* light grey color: #d8d8d8;
/*
/******************************************************************************/

.sitewrapper {
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    background: linear-gradient(to right, blue 60%, red 40%);
}

.logo {
    background: url("..images/ic-logo.svg") center no-repeat;
    background-size: contain;
    height: 80%;
    width: 100%;
}

/* MEDIA QUERIES *******************************************************************************/

/* small screens */

/* large screens over 1200px */

@media only screen and (min-width: 75rem) {
    .wrapper {
        width: 100%;
        max-width: 75rem;
        margin: 0 auto;
    }
}

/* Universal Styling
*******************************************************************************/

body {
    color: #4a4a4a;
    background-color: deepskyblue;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}

a {
    text-decoration: none;
}

section {
    border: 1px dotted purple;
    display: flex;
    flex: 1 1 100%;
}

/* Flex Layouts
*******************************************************************************/

.flexrow {
    display: flex;
    flex-direction: row;
}

.flexrowbaseline {
    display: flex;
    align-items: baseline;
    flex-direction: row;
}

.flexcenter {
    justify-content: center;
    align-items: center;
}

.flexspace-between {
    justify-content: space-between !important;
}

/* Main *******************************************************************************/

main {
    background-color: coral;
}

/* Header and Navigation *******************************************************************************/

header {
    align-items: center;
    position: fixed;
    z-index: 100;
    height: 4rem;
    border-bottom: 1px solid #d8d8d8;
    background-color: white;
    padding: 0 1.5rem;
    white-space: nowrap;
}

header span {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.15rem;
    letter-spacing: .025rem;
    display: inline-block;
}

.titleleft {
    font-weight: 700;
    color: #4a4a4a;
}

.titleright {
    font-weight: 400;
    color: #9b9b9b;
}

nav {
    display: flex;
    align-items: center;
    padding: 0 0 0 1.5rem;
    width: 100%;
}

nav a {
    padding: 0 1rem 0 0;
}

nav a:last-child {
    padding: 0;
}

/* Section 1: Banner Image and Button *******************************************************************************/

.banner {
    align-items: center;
    background-color: #d8d8d8;
    display: flex;
    flex: 1 1 100%;
    justify-content: flex-start;
    margin: 4rem 0 0 0;
}

.banner img {
    flex: 1 1 60%;
    padding: 2rem 1.5rem;
    object-fit: cover;
    width: 60%;
}

.banner aside {
    align-items: center;
    flex-direction: row;
    padding: 2rem 0;
}

.banner article {
    min-width: 66%;
    justify-content: flex-start;
    padding: 0 1rem;
}

.thirdspacer {
    justify-content: flex-end;
    min-width: 33%;
}

.banner h1, h4 {
    margin: 0 0 2rem 0;
}

/*banner button*/

.banner button {
    background-color: #4a4a4a;
    color: #fff;
    padding: 1rem 0;
    width: 100%;
}

.banner button:hover {
    background-color: #37b7ee;
}

.banner button:active {
    background-color: #f50;
}
